[MAIN]
# Enable Pylint to be run in the venv:
init-hook=
    try: import pylint_venv
    except ImportError: pass
    else: pylint_venv.inithook()

[MESSAGES CONTROL]

disable=invalid-name,missing-docstring,too-few-public-methods,too-many-arguments
