atlassian-python-api==4.0.4
beautifulsoup4==4.13.4
certifi==2025.7.14
cffi==1.17.1
charset-normalizer==3.4.2
cryptography==45.0.5
Deprecated==1.2.18
idna==3.10
jmespath==1.0.1
oauthlib==3.3.1
pycparser==2.22
PyGithub==2.6.1
PyJWT==2.10.1
PyNaCl==1.5.0
python-gitlab==6.1.0
requests==2.32.4
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
soupsieve==2.7
tomli==1.2.3
typing_extensions==4.14.1
urllib3==2.5.0
wrapt==1.17.2
