[Unit]
Description=Pull cgit repositories
Wants=ssh-agent.service

[Service]
Type=simple
WorkingDirectory=/srv/cgit-repos
ExecStartPre=/usr/bin/truncate --size=0K -- /srv/cgit-repos/pull.log
ExecStart=/srv/cgit-repos/pull.sh
StandardOutput=file:/srv/cgit-repos/pull.log
StandardError=inherit
