[Unit]
Description=Run pull.sh
Wants=ssh-agent.service

[Service]
Type=simple
WorkingDirectory=/srv/git
ExecStartPre=/usr/bin/truncate --size=0K -- /srv/git/pull.log
ExecStart=/srv/git/pull.sh
StandardOutput=file:/srv/git/pull.log
StandardError=inherit
