# Adjust as you see fit.

[Unit]
Description=Pull cgit repositories
Wants=ssh-agent.service

[Service]
Type=simple
WorkingDirectory=%h/workspace/personal/cgitize
ExecStartPre=/usr/bin/truncate --size=0K -- %h/var/cgitize/cgitize.log
ExecStart=/usr/bin/python3 -m cgitize.main --config %h/etc/cgitize/cgitize.toml
StandardOutput=file:%h/var/cgitize/cgitize.log
StandardError=inherit
