# All settings are optional.

# /mnt/cgitize by default.
output_dir = "/tmp/cgitize"

# URL to clone from the output directory. {repo} is replaced by the
# repository's directory path.
clone_url = "https://yourhost.com/git/{repo}"

# Clones via SSH by default.
clone_via_ssh = false

# Unless this is specified, cgit is going to derive the owner from the
# repository's directory ownership.
owner = "Your Name"

# GitHub
# ======

[github]
# If some of the repositories hosted on GitHub are private (or if you hit the
# request rate limit), use "access tokens". Set in the config or using the
# CGITIZE_GITHUB_TOKEN environment variable.
#token = "XXX"

[github.users.me]
name = "egor-tensin"
# To avoid directory name clashes with other repositories, you can specify a
# subdirectory to put that user's repositories to.
dir = "github-dir"
# Repositories to skip:
skip = ["chruby", "SafeInt"]

[github.organizations.browserify]
# For GitHub, you can also specify organizations. The settings are similar to
# those for users. "browserify" is a random organization.
name = "browserify"
dir = "browserify-dir"
skip = ["awesome-browserify", "discuss"]

# Some random repositories hosted on GitHub:
[github.repositories.lens]
id = "ekmett/lens"
[github.repositories.pytomlpp]
id = "bobfang1992/pytomlpp"
# You can put repositories in a subdirectory:
dir = "python"

# Bitbucket
# =========

# Bitbucket settings are similar to those for GitHub.

[bitbucket]
# Access tokens are called "app passwords" on Bitbucket.
# The environment variable is CGITIZE_BITBUCKET_TOKEN.
#token = "XXX"
# Contrary to GitHub, Bitbucket doesn't associate app passwords with a
# username, so you also need that (CGITIZE_BITBUCKET_USERNAME is the
# environment variable).
#username = "your-username"

[bitbucket.users.me]
name = "egor-tensin"
dir = "bitbucket-dir"
#skip = ["repo1", "repo2"]

[bitbucket.repositories.cef]
id = "chromiumembedded/cef"
dir = "chromiumembedded"
[bitbucket.repositories.upc-runtime]
id = "berkeleylab/upc-runtime"

# GitLab
# ======

# GitLab settings are similar to those for GitHub.

[gitlab]
# The environment variable is CGITIZE_GITLAB_TOKEN.
#token = "XXX"
# Similar to Bitbucket, GitLab doesn't associate access tokens with a username,
# so you also need that (CGITIZE_GITLAB_USERNAME is the environment variable).
#username = "your-username"

[gitlab.users.me]
name = "egor-tensin"
dir = "gitlab-dir"
#skip = ["repo1", "repo2"]

[gitlab.repositories.inkscape]
id = "inkscape/inkscape"
[gitlab.repositories.gitter]
id = "gitterHQ/webapp"
dir = "gitterHQ"

# Self-hosted repositories
# ========================

[repositories]

# Some random repositories hosted on the web:
[repositories.wintun]
name = "wintun"
clone_url = "https://git.zx2c4.com/wintun"
owner = "Jason A. Donenfeld"
desc = "Layer 3 TUN Driver for Windows"
# You can put repositories in a subdirectory:
dir = "wireguard"
